<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Admin | HI_ASTRO</title>
  <link rel="icon" href="../../admin/assets/img/astro.png" type="image" />

  <!-- Include jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link href="../../admin/assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../../admin/assets/css/style.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="../../admin/assets/paginate/pagination.min.css" />
  <link href="../../admin//assets/css/plugins/sweetalert/sweetalert.css" rel="stylesheet" />

  <!-- Day.js -->
  <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
  <!-- js files -->
  <script src="../../admin/scripts/common/pipeline.js"></script>
  <script src="../../admin/scripts/common/validation.js"></script>
  <script src="../../admin/scripts/auth/logout.js"></script>
  <script src="../../admin/scripts/listing/user.js"></script>

  <style type="text/css">
    .container {
      margin: 100px auto;
    }

    #fog::placeholder {
      font-size: 12px;
    }

    .edit_cat_file {
      position: absolute;
      top: 0px;
      height: 200px;
      width: 205px;
      left: 13px;
      opacity: 0;
      z-index: -1;
      cursor: pointer;
    }

    .edit_cancel {
      border-color: #1ab394;
      color: #1ab394;
      padding: 5px 25px;
      border-radius: 8px;
    }

    input[type="file" i] {
      width: 174px;
    }

    @media only screen and (max-width: 992px) {
      .lastline {
        margin: 0px !important;
        width: 100% !important;
        display: inline-block !important;
      }
    }
  </style>
</head>

<body onload="userList();">
  <div id="wrapper" style="display: none">
    <navbar></navbar>
    <div id="page-wrapper" class="gray-bg">
      <div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
          <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 menuBtn" href=""><i class="fa fa-bars"></i>
            </a>
            <form role="search" class="navbar-form-custom" action="search_results.html"></form>
          </div>
          <ul class="nav navbar-top-links navbar-right">
            <li>
              <span class="m-r-sm text-muted welcome-message">Welcome to HI_ASTRO Admin
              </span>
            </li>
            <li>
              <a class="dropdown-item" onclick="logout()">Logout <img src="../../../admin/assets/img/logout .png" /></a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-4">
          <h2><strong>All Users </strong></h2>
        </div>
        <div class="col-lg-8">
          <div class="d-flex align-items-center mt-3 justify-content-end">
            <input type="text" style="width: 400px; height: 38px; margin-right: 4px" class="form-control"
              oninput="validate(this)" placeholder="Search by User Name,CustomerId Or Phone Number" name="search"
              id="fog" />
            <button style="margin-right: 25px" type="button" id="btnId" class="btn btn-info btn-lg"
              onclick="userList();">
              <strong>Search</strong>
            </button>
          </div>
        </div>
      </div>

      <div id="data" class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox-content rounded_md">
          <div class="sk-spinner sk-spinner-double-bounce">
            <div class="sk-double-bounce1"></div>
            <div class="sk-double-boun ce2"></div>
          </div>
          <div class="table-responsive storeTypetable border-none">
            <table class="table table-hover table-bordered">
              <thead>
                <tr>
                  <!-- <th style="width: 5%"><strong>#SNo.</strong></th> -->
                  <th style="width: 5%"><strong>CustomerId</strong></th>
                  <!-- <th style="width: 5%"><strong>Image</strong></th> -->
                  <th style="width: 15%"><strong>User Name</strong></th>
                  <th style="width: 15%"><strong>Email</strong></th>
                  <th style="width: 15%"><strong>Phone Number</strong></th>
                  <th style="width: 15%"><strong>DOB</strong></th>
                  <th style="width: 10%"><strong>Subscription</strong></th>
                  <th style="width: 15%"><strong>Created At</strong></th>
                  <th style="width: 10%"><strong>Access</strong></th>
                  <th style="width: 15%"><strong> Status</strong></th>
                  <th style="width: 20%"><strong>Actions</strong></th>
                </tr>
              </thead>
              <tbody id="table"></tbody>
            </table>
          </div>
          <div id="loader1" class="loader" style="display: block"></div>
          <div class="hide text-center" style="display: none" id="noData" role="alert">
            <div class="d-flex h_fit_nodata align-items-center justify-content-center">
              <img src="../../../admin/assets/img/noDataFound.avif" alt="no data found" class="no_Data_Found" />
            </div>
          </div>
        </div>
        <div class="box mt-4 mb-4" id="page1">
          <ul id="example-1" class="pagination"></ul>
        </div>
      </div>
      <footer></footer>
    </div>
  </div>
  <!-- View Modal -->
  <div class="modal inmodal fade" id="myModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <form id="form" method="post" enctype="text/plain" role="form">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                class="sr-only">Close</span></button>
            <h4 class="modal-title">View User</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-lg-4 col-md-5 col-12 form-group" style="text-align: left;">
                <p>please choose image in ratio<br>(width:200px , height:200px)</p>
                <img id="blah1" src="../../admin/assets/img/emptyphoto.png" alt="" style="width:200px; height:200px; "
                  aria-disabled="true"><br>
                <!-- <input type='file' accept="image/*" name='image' id="blah1" onchange="readURL1(this)"> -->
              </div>
              <div class="col-lg-8 col-md-7 col-12">
                <div class="form-group">
                  <label>Name</label>
                  <input type="text" class="form-control" id="name1" name='name1' placeholder="Enter Name"
                    maxlength="30" readonly>
                  <h6 style="text-align: right;">30 Characters Max</h6>
                </div>
                <div class="form-group">
                  <label>Email</label>
                  <input type="text" class="form-control" id="email1" name='email1' placeholder="Enter Email"
                    maxlength="50" readonly>
                  <h6 style="text-align: right;">50 Characters Max</h6>
                </div>
                <div class="form-group">

                  <h4>Country Code / Phone No.</h4>
                  <div class="row mx-0">
                    <div class="col-3 tell-code pl-1">
                      <input type="tel" id="countryCode" name="countryCode" class="form-control mobile" readonly>
                    </div>
                    <div class="col-9 tell-num pr-1">
                      <input type="tel" id="mobile" name="mobile" class="form-control"
                        placeholder="Enter  Contact Number" minlength="10" maxlength="10" readonly>
                    </div>
                  </div>

                </div>
                <div class="form-group">
                  <label>Status</label>
                  <select class="form-control" id="status1" name="status1" disabled>
                    <option value=true>Active</option>
                    <option value=false>Inactive</option>
                  </select>
                </div>
              </div>

            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <!-- Subscription Modal -->
  <div class="modal inmodal fade" id="myModal21" tabindex="-1" role="dialog" aria-hidden="true">
    <form id="form12" method="post" enctype="text/plain" role="form">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                class="sr-only">Close</span></button>
            <h4 class="modal-title">Assign Subscription</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-lg-8 col-md-7 col-12">
                <div class="form-group">
                  <input type="text" style="display: none" name="userId" id="userId" />
                  <label>Subscription Type<span style="color: red">*</span></label>
                  <select class="form-control" id="subId" required>
                    <option disabled value="" hidden selected>
                      Select Subscription Type
                    </option>
                    <option value="No Data found" id="foundId" disabled>No Data found</option>
                  </select>
                  <input type="text" style="display: none" name="subId1" id="subId1" />
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
            <div class="d-flex justify-content-end">
              <button style="width: 250px;color: white;" id="button" class="btn btn-orange btn-lg ">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <script src="../../admin/assets/js/bootstrap.js"></script>
  <!-- Peity -->
  <script type="text/javascript" src="../../admin/assets/paginate/pagination.min.js"></script>
  <script src="assets/js/plugins/sweetalert/sweetalert.min.js"></script>

  <script>
    var token = sessionStorage.getItem("token");
    var host = window.location.protocol + "//" + window.location.host;
    if (!token) {
      sessionStorage.removeItem("token");
      window.location.replace("/admin/login");
    }
    document.addEventListener("keydown", function (event) {
      if (event.key === "Enter") {
        if (document.getElementById("fog").value) {
          document.getElementById("btnId").click();
        }
      }
    });
  </script>
</body>

</html>