<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Admin | SIREN</title>
<!-- <div class="bottom">
    <div class="border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-minimalize minimalize-styl-2 menuBtn" href=""><i class="fa fa-bars"></i>
                </a>
                <form role="search" class="navbar-form-custom" action="search_results.html">
                </form>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <span class="m-r-sm text-muted welcome-message">Welcome to Ro_Kart Admin </span>
                </li>
                <li><a class="dropdown-item" onclick="logout()">Logout <img
                            src="../../../admin/assets/img/logout .png"></a></li>
            </ul>
        </nav>
    </div>
    </div> -->