<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu bg_blue_nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element" style="text-align: center;">
                    <img alt="image" style="width: 165px;height:127px;" src="../../admin/assets/img/ItunesArtwork@2x.png" />
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li id="dashboard-nav">
                <a href="/admin/dashboard"><i><img src="../../admin/assets/img/dashboard.svg"></i> <span
                        class="nav-label"><strong style=" height: 34px;">Dashboard</strong></span></a>
            </li>
            <li id="subscription-nav">
                <a href="/admin/subscription"><i><img src="../../admin/assets/img/subscription.svg"></i> <span
                        class="nav-label"><strong >Subscription plans</strong></span></a>
            </li>
            <li id="user-nav">
                <a href="/admin/user"><i><img src="../../admin/assets/img/users.svg"></i> <span
                        class="nav-label"><strong >Users</strong></span></a>
            </li>
            <li id="setting-nav">
                <a href="#" onclick="appSetting(event)"><i><img src="../../admin/assets/img/setting.svg"></i> <span
                        class="nav-label"><strong >App Settings</strong></span>
                    <span class="arrow">&#9660;</span>
                </a>
                <ul class="nav nav-second-level collapse" id="collapse">
                    <li id="app-nav"><a href="/admin/adminSetting">App Version</a></li>
                    <li id="changepassword-nav"><a href="/admin/changePassword">Change Password</a></li>
                    <li id="configuration-nav"><a href="/admin/configuration">Configuration</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>