<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>SIREN</title>
  <link rel="icon" href="../../admin/assets/img/Icon-App-83.5x83.5@2x.png" type="image" />
  <!-- Include jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <link href="../../admin/assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../../admin/assets/css/style.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="../../admin/assets/paginate/pagination.min.css" />

  <link href="../../admin//assets/css/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
  <!-- multiple selected dropdown like as chip -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css">
  <script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>

  <!-- moment -->
  <script src="https://momentjs.com/downloads/moment.js"></script>
  <script src="../../admin/scripts/auth/logout.js"></script>
  <script src="../../admin/scripts/dashboard.js"></script>
  <script src="../../admin/scripts/listing/user.js"></script>
  <script src="../../admin/scripts/listing/service_request.js"></script>
  <script src="../../admin/scripts/common/pipeline.js"></script>
  <script src="../../admin/scripts/common/validation.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


  <style type="text/css">
    /* /////////////////////////Start latest_rec  ent/////////////////////////////////// */
    .latest_recent .latest_order {
      border-bottom: 1px solid #ccc;
      padding: 3px 10px !important;
    }

    @media screen and (max-width: 575px) {
      .tab_pills_container ul li a {
        color: black !important;
        font-size: 14px;
      }
    }

    .ibox-title1 {
      background-color: #006699;
      border-color: #0000ff;
      border-image: none;
      border-style: solid solid none;
      border-width: 1px;
      color: #ffffff;
      margin-bottom: 0;
      padding: 15px 20px 20px 20px;
      min-height: 48px;
      position: relative;
      clear: both;
      -webkit-border-radius: 3px 3px 0 0;
      -moz-border-radius: 3px 3px 0 0;
      border-radius: 2px 2px 0 0;
      text-align: center;
    }

    .ibox-content1 {
      background-color: #ffffff;
      color: inherit;
      padding: 15px 20px 20px 20px;
      border-color: #0000ff;
      border-image: none;
      border-style: solid;
      border-width: 1px;
      text-align: center;
      /* border-radius: 10px; */
    }

    @media only screen and (max-device-width: 992px),
    screen and (max-width: 992px) {
      .lastline {
        margin: 0px !important;
        width: 100% !important;
        display: inline-block !important;
      }
    }

    /* .chart1 { */
    /* border: 3px solid royalblue; */
    /* margin-left: 15px;
            width: 98%;
            height: 80px; */
    /* } */
  </style>
</head>

<body onload="checkToken();dashboardData();">
  <div id="wrapper" style="display: none">
    <navbar></navbar>
    <div id="page-wrapper" class="container-fluid gray-bg">
      <div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
          <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 menuBtn" href=""><i class="fa fa-bars"></i>
            </a>
            <form role="search" class="navbar-form-custom" action="search_results.html"></form>
          </div>
          <ul class="nav navbar-top-links navbar-right">
            <li>
              <span class="m-r-sm text-muted welcome-message">Welcome to SIREN Admin
              </span>
            </li>
            <li>
              <a class="dropdown-item" onclick="logout()">Logout <img src="../../../admin/assets/img/logout .png" /></a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-4">
          <h2 class="dashboard-title">Dashboard</h2>
        </div>
      </div>
      <div class="container-fluid dashboard_container">
        <div class="row tab_pills_container">
          <div class="col-12 col-md-12 col-lg-12">
            <div class="tab-content">
              <div class="tab-pane fade show active" id="today" role="tabpanel" aria-labelledby="today-tab">
                <div class="row">
                  <div class="col-12 col-sm-6 col-md-3 col-lg-3 mt-4">
                    <div class="ibox">
                      <div class="ibox-title1 d-flex" style="background-color: #1ab394; border-color: #1ab394;">
                        <div>
                          <h3><strong>Total Users</strong></h3>
                        </div>
                        <div style="flex-grow: 1; text-align: right;">
                          <h3><strong id="total_users"></strong></h3>
                        </div>
                      </div>
                      <div class="ibox-content1 text-left d-flex align-items-center justify-content-between text-nowrap"
                        style="border-color: #1ab394; height: 80px; padding-right: 30px;">
                        <strong style="color: blue;">View Details</strong>
                        <a href="/admin/user"><img src="../../../admin/assets/img/arrow.png" style="width: 31px;"></a>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 col-md-3 col-lg-3 mt-4">
                    <div class="ibox">
                      <div class="ibox-title1 d-flex" style="background-color: #1ab394; border-color: #1ab394;">
                        <div>
                          <h3><strong>Logged-In Users</strong></h3>
                        </div>
                        <div style="flex-grow: 1; text-align: right;">
                          <h3><strong id="Logged-In_Users"></strong></h3>
                        </div>
                      </div>
                      <div class="ibox-content1 text-left d-flex align-items-center justify-content-between text-nowrap"
                        style="border-color: #1ab394; height: 80px; padding-right: 30px;">
                        <strong style="color: blue;">View Details</strong>
                        <a href="/admin/user?loggedIn=true"><img src="../../../admin/assets/img/arrow.png"
                            style="width: 31px;"></a>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 col-md-3 col-lg-3 mt-4">
                    <div class="ibox">
                      <div class="ibox-title1 d-flex" style="background-color: #1ab394; border-color: #1ab394;">
                        <div>
                          <h3><strong>Blocked Users</strong></h3>
                        </div>
                        <div style="flex-grow: 1; text-align: right;">
                          <h3><strong id="Blocked_Users"></strong></h3>
                        </div>
                      </div>
                      <div class="ibox-content1 text-left d-flex align-items-center justify-content-between text-nowrap"
                        style="border-color: #1ab394; height: 80px; padding-right: 30px;">
                        <strong style="color: blue;">View Details</strong>
                        <a href="/admin/user?type=2"><img src="../../../admin/assets/img/arrow.png"
                            style="width: 31px;"></a>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 col-md-3 col-lg-3 mt-4">
                    <div class="ibox">
                      <div class="ibox-title1 d-flex" style="background-color: #1ab394; border-color: #1ab394;">
                        <div>
                          <h3><strong>Unblocked Users</strong></h3>
                        </div>
                        <div style="flex-grow: 1; text-align: right;">
                          <h3><strong id="Unblocked_Users"></strong></h3>
                        </div>
                      </div>
                      <div class="ibox-content1 text-left d-flex align-items-center justify-content-between text-nowrap"
                        style="border-color: #1ab394; height: 80px; padding-right: 30px;">
                        <strong style="color: blue;">View Details</strong>
                        <a href="/admin/user?type=1"><img src="../../../admin/assets/img/arrow.png"
                            style="width: 31px;"></a>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 col-md-3 col-lg-3 mt-4">
                    <div class="ibox">
                      <div class="ibox-title1 d-flex" style="background-color:#1ab394; border-color: #1ab394;">
                        <div>
                          <h3><strong>Subscribed Users</strong></h3>
                        </div>
                        <div style="flex-grow: 1; text-align: right;">
                          <h3><strong id="Subscribed_Users"></strong></h3>
                        </div>
                      </div>
                      <div class="ibox-content1 text-left d-flex align-items-center justify-content-between text-nowrap"
                        style="border-color: #1ab394; height: 80px; padding-right: 30px;">
                        <strong style="color: blue;">View Details</strong>
                        <a href="/admin/user?subscribed=true"><img src="../../../admin/assets/img/arrow.png"
                            style="width: 31px;"></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row latest_recent mb-5">
          <div class="col-12 col-sm-12 col-md-12 text-center mt-5">
            <div class="card latestOrderCard">
              <div class="card-body latest_order d-flex align-items-center justify-content-between flex-wrap">
                <div>
                  <h1 style="font-weight: bold;">Latest 10 New Users</h1>
                </div>
              </div>
              <div class="table-responsive" style="width: 97%; margin-left: 23px">
                <div class="alert alert-primary hide" style="
                      display: none;
                      margin-top: 16px;
                      height: 60px;
                      background-color: lavenderblush;
                      border-color: lavenderblush;
                      color: tomato;
                    " id="noData" role="alert">
                  <h3>No New Users Yet</h3>
                </div>
                <table class="table table-bordered" style="margin-top: 2%; text-align: center" id="table112">
                  <thead>
                    <tr>
                      <th style="width: 5%"><strong>#SNo.</strong></th>
                      <th style="width: 5%"><strong>Image</strong></th>
                      <th style="width: 15%"><strong>User Name</strong></th>
                      <th style="width: 15%"><strong>Phone Number</strong></th>
                      <th style="width: 15%"><strong>Email</strong></th>
                      <th style="width: 15%"><strong>Created At</strong></th>
                      <th style="width: 10%"><strong>Status</strong></th>
                    </tr>
                  </thead>
                  <tbody id="table1"></tbody>
                </table>
                <ul class="wait_for_latest_order">
                  <div id="classId1"></div>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="row latest_recent mb-3">
          <div class="col-12 col-sm-12 col-md-12 text-center mt-3">
            <div class="card latestOrderCard">
              <div class="card-body latest_order d-flex align-items-center justify-content-between flex-wrap">
                <div>
                  <h1 style="font-weight: bold;">Latest 10 New Service Requests</h1>
                </div>
              </div>
              <div class="table-responsive" style="width: 97%; margin-left: 23px">
                <div class="alert alert-primary hide" style="
                      display: none;
                      margin-top: 16px;
                      height: 60px;
                      background-color: lavenderblush;
                      border-color: lavenderblush;
                      color: tomato;
                    " id="noData1" role="alert">
                  <h3>No New Request Received Yet</h3>
                </div>
                <table class="table table-bordered" style="margin-top: 2%; text-align: center" id="table12">
                  <thead>
                    <tr>
                      <th style="width: 7%;"><strong>#Request Id.</strong></th>
                      <th style="width: 10%;"><strong>Device Type</strong></th>
                      <th style="width: 5%;"><strong>Name</strong></th>
                      <th style="width: 10%;"><strong>Phone Number</strong></th>
                      <th style="width: 10%;"><strong>Problem Message</strong></th>
                      <th style="width: 10%;"><strong>Address</strong></th>
                      <th style="width: 10%;"><strong>Service Boy Name</strong></th>
                      <th style="width: 10%;"><strong>Service Boy Phone Number</strong></th>
                      <th style="width: 12%;"><strong>CreatedAt</strong></th>
                      <th style="width: 2%;"><strong>Status</strong></th>
                      <th style="width: 5%;"><strong>Actions</strong></th>
                    </tr>
                  </thead>
                  <tbody id="table12"></tbody>
                </table>
                <ul class="wait_for_latest_order">
                  <div id="classId1"></div>
                </ul>
              </div>
            </div>
          </div>
        </div> -->
      </div>
      <div style="margin-top: 3%">
        <footer></footer>
      </div>
    </div>
  </div>
  <!-- <footer></footer> -->
  <!-- Mainly scripts -->


  <script src="../../admin/assets/js/bootstrap.js"></script>
  <!-- Peity -->
  <script type="text/javascript" src="../../admin/assets/paginate/pagination.min.js"></script>
  <script src="assets/js/plugins/sweetalert/sweetalert.min.js"></script>
  <script>
    var token = sessionStorage.getItem("token");
    var host = window.location.protocol + "//" + window.location.host;
    if (!token) {
      sessionStorage.removeItem("token");
      window.location.replace("/admin/login");
    }
    $("#form").submit(function (e) {
      e.preventDefault();
      updateReason();
    });

    //******Search value by Enter**************/
    $("#fog").keyup(function (event) {
      if (event.keyCode === 13) {
        $("#btnId").click();
      }
    });
    const options = Intl.DateTimeFormat().resolvedOptions();
    const timezone = options.timeZone;
  </script>
</body>

</html>